<div class="container-fluid"> 
  <mat-card>    
    <!-- Title of an Card -->    
    <mat-card-title >    
      Contacts Search
    </mat-card-title>  
    
  
    <mat-card-content>    
      <form [formGroup]="contactSearchFilterForm" class="form-group"  role="form" autocomplete="off" method="POST"  (ngSubmit)="submitSearchFilterForm()">    
        <div class="form-row full-width" style="margin-top:10px">
          <div class="form-group col-md-4">
            <mat-form-field >
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName">
            </mat-form-field>
          </div>
          <div class="form-group col-md-4">
            <mat-form-field >
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName">
            </mat-form-field>
          </div>
          <div class="form-group col-md-4">
            <mat-form-field >
              <mat-label>Organization</mat-label>
              <input matInput formControlName="organization">
            </mat-form-field>
          </div> 
        </div>    
        <div class="form-group row">  
          <div class="col-sm-2 col-md-2 col-lg-2"> 
              <button mat-raised-button color="accent" type="submit" class="btn btn-success btn-md btn-block">Search</button>    
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2"> 
              <button mat-raised-button color="accent" type="button"class="btn btn-default btn-md btn-block" (click)="resetSearchFilterForm()" >Clear</button>    
          </div>    
        </div>     
      </form>    
    </mat-card-content>    
  </mat-card>  
  
  <div *ngIf="showSearchResultsFlag==true; then showResultComp ">  </div> 
  <ng-template #showResultComp>
    <app-contact-search-result [contactSearchFilter]="contactSearchFilter"></app-contact-search-result>
  </ng-template>
  
</div>