<mat-dialog-content>
  <div *ngIf="data.searchType==='Contacts'; then showContactSearch; else showUstSearch"></div>
  <ng-template #showContactsSearch> 
      <!-- <app-lust-search-filter></app-lust-search-filter> -->
      <p>Contacts search coming soon</p>
  </ng-template>
  <ng-template #showUstSearch> 
      <app-ust-search-filter></app-ust-search-filter>
  </ng-template>
</mat-dialog-content>
<div mat-dialog-actions>  
<button mat-raised-button color="primary" type="button"class="btn btn-default btn-md " [mat-dialog-close]="true">Close </button>
</div>
