<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>HOL</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <!-- <div style="padding: 5px;"> -->
            <div class="container-fluid noprint">
                <nav mat-tab-nav-bar appearance="outline">
                    <a mat-tab-link
                    *ngFor="let routeLink of routeLinks; let i = index;"
                    [routerLink]="routeLink.link"
                    routerLinkActive #rla="routerLinkActive"
                    (click)="activeLinkIndex = i"
                    [routerLinkActiveOptions]="{exact: true}"
                    >
                        {{routeLink.label}}
                    </a>
                </nav>
            </div>

            <!-- <div class="container-fluid noprint">
                <button mat-button [matMenuTriggerFor]="menu" appearance="outline">OLPRR Reporting</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu> 
                <button mat-button [matMenuTriggerFor]="menu1" appearance="outline">Menu</button>
                <mat-menu #menu1="matMenu">
                  <button mat-menu-item>Item 3</button>
                  <button mat-menu-item>Item 4</button>
                </mat-menu> 
            </div> -->



            <router-outlet></router-outlet>
        <!-- </div>       -->
    </body>
</html>
