
  @media print {

    @page { margin: 0;}
    body { margin: 1.6cm;}
    
    .noprint {
      display:none;
    }

  }

  .mat-tab-label-container{
    background-color: green;
  }

//   .mat-tab-label-active{
//     color: #CD412B !important;
//     background-color: burlywood;
// } 