<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content>
    <p>{{data.message1}}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button"  cdkFocusInitial  (click)="openOlprrSearch()"> Return to OLPRR Search</button>
        <div *ngIf="data.suppressLustButton === true; then showLustButton"></div>  
    <ng-template #showLustButton>
        <button class="mat-raised-button"  (click)="openLust()">Open Incident in LUST</button>
    </ng-template>
</mat-dialog-actions>



