.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
  height: auto;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.input-group.required .control-label:after{
content:"*";
color:red;
}


.full-width {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  
}

md-card{
width: 20em;
}


mat-card {
/*
  Tried to move to Styles.css but won't adjust content properly
*/
padding: 10px;
}

// .example-container > * {
//   width: 100%;
//   height: auto;
// }

// mat-form-field {
//   width:100%;
  
// }



mat-card-content {
padding-bottom: 0%;
}

.mat-input-container {
margin-bottom: .5em;
padding: -1em ;
}     



.example-container {
display: flex;
flex-direction: column;
}

.example-container > * {
width: 100%;
height: auto;
}

.form-group.required .control-label:after {
content:"*";
color:red;
}

.input-group.required .control-label:after{
content:"*";
color:red;
}


.mat-card-address-data {
padding: 0px; 
margin-bottom: -20px;
}


.full-width {
width: 100%;
}


.example-container > * {
width: 100%;
height: auto;
}

mat-form-field {
width:100%;
}

mat-card-content {
padding-bottom: 0%;
}



@media print
{
  * {-webkit-print-color-adjust:exact;}
}


button {
border-radius: 15px;
}