<div class="loading-indicator" *ngIf="loading$  | async; else showForm">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>
<ng-template #showForm>
    <div class="container-fluid">
        <!-- Form incidentForm begins -->
        <form [formGroup]="incidentForm" class="form" role="form" autocomplete="off" method="POST"  (ngSubmit)="submitIncident()">
            <mat-card>    
                <mat-card-title class="mat-card-headertitle-background"> Update Lust Incident  </mat-card-title> 
                <mat-card-content> 
                    <mat-card>    
                        <!-- <mat-card-title > Site </mat-card-title>   -->
                        <mat-card-content> 
                            <div class="form-row full-width">
                                <div class="form-group required col-md-2">
                                    <mat-form-field>
                                        <mat-label class="control-label" for="logNumber">Log Number</mat-label>
                                        <input matInput placeholder="Log Nbr" formControlName="logNumber">
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.logNumber"  [submitClicked]="submitClicked"></app-show-errors>                            
                                </div>
                                <div class="form-group required col-md-2">
                                    <mat-form-field>
                                        <mat-label class="control-label" for="qTimeId">QTime</mat-label>
                                        <input matInput placeholder="QTime" formControlName="qTimeId">
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.qTimeId"  [submitClicked]="submitClicked"></app-show-errors>                            
                                </div>
                                <div class="form-group required col-md-2">
                                    <mat-form-field>
                                        <mat-label class="control-label" for="projectManager">PM</mat-label>
                                        <mat-select formControlName="projectManager" >
                                            <mat-option value=""></mat-option>
                                            <mat-option *ngFor="let projectManager of projectManagers" 
                                                    [value]="projectManager?.projectManagerCode" >
                                                    {{siteType?.projectManagerDescription}}
                                            </mat-option>
                                        </mat-select>    
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.projectManager"  [submitClicked]="submitClicked"></app-show-errors>                            
                                </div>
                                <div class="form-group col-md-2"> 
                                    <mat-form-field >  
                                        <mat-label >Facility Id</mat-label> 
                                        <input matInput placeholder="Facility Id" formControlName="facilityId">
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.projectManager"  [submitClicked]="submitClicked"></app-show-errors>
                                </div>
                                <div class="form-group col-md-1 text-center"> 
                                    <button mat-raised-button color="primary" type="button" class="btn btn-default btn-md btn-block" (click)="openUstSearch()" >UST Search</button>
                                </div>
                            </div>           
                            <!-- Site Name, County -->
                            <div class="form-row full-width">
                                <div class="form-group required col-md-5 input-mysize">
                                    <mat-form-field > 
                                        <mat-label class="control-label" for="siteName">Site Name</mat-label>
                                        <input matInput formControlName="siteName" />                                    
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.siteName"  [submitClicked]="submitClicked"></app-show-errors>
                                </div>
                                <div class="form-group col-md-2 ">
                                    <mat-form-field > 
                                        <mat-label>Site Phone</mat-label>
                                        <input matInput formControlName="sitePhone"/>                         
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.sitePhone" [submitClicked]="submitClicked"></app-show-errors>
                                </div>
                                <div class="form-group col-md-2">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="noValidAddress"> No Valid Address</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                            </div>                        
                            <!-- /Site Name, County -->  
                            <!-- city, zip, phone -->
                            <div class="form-row full-width">    
                                <div class="form-group required col-md-3 ">
                                    <mat-form-field > 
                                        <mat-label class="control-label">Site Address</mat-label>
                                        <input matInput formControlName="siteAddress"  />
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.siteAddress"  [submitClicked]="submitClicked"></app-show-errors>
                                </div>                          
                                <div class="form-group required col-md-3 ">
                                    <mat-form-field > 
                                        <mat-label class="control-label">Site City</mat-label>
                                        <mat-select formControlName="siteCity" >
                                            <mat-option selected="selected" value=""></mat-option>
                                            <mat-option *ngFor="let city of cities" [value]="city?.placeName" >{{city?.placeName2}}</mat-option>                                               
                                        </mat-select>                          
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.siteCity"></app-show-errors>
                                </div>
                                <div class="form-group required col-md-2 ">
                                    <mat-form-field > 
                                        <mat-label class="control-label" for="siteZipcode">Site Zip Code</mat-label>                                            
                                        <mat-select placeholder="Site Zip Code" id="siteZipcode" formControlName="siteZipcode" >
                                            <mat-option selected="selected" value=""></mat-option>
                                            <mat-option *ngFor="let zipcode of zipcodes" [value]="zipcode?.zipCode1" >{{zipcode?.zipCode2}}</mat-option>     
                                        </mat-select>
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.siteZipcode"></app-show-errors>
                                </div>
                                <div class="form-group required col-md-2">
                                    <mat-form-field >  
                                        <mat-label class="control-label" for="siteCounty">Site County</mat-label> 
                                        <mat-select placeholder="Site County" id="siteCounty" formControlName="siteCounty">     
                                            <mat-option selected="selected" value=""> </mat-option> 
                                            <mat-option *ngFor="let county of counties" [value]="county?.countyCode" > {{county?.countyName}}</mat-option>  
                                        </mat-select>    
                                    </mat-form-field>  
                                    <app-show-errors [control]="incidentForm.controls.siteCounty"  [submitClicked]="submitClicked"></app-show-errors>
                                </div> 


                            <!-- site address address check -->                            
                            <div class="form-row full-width">  
                                    <div class="form-group col-md-11">
                                        <ng-container *ngIf="showSaAddressCorrect">
                                            <mat-card>   <!--  Moved to css style="padding: 10px" -->
                                                <mat-card-header>   <!-- style="margin-top: -10px; margin-bottom: -10px; margin-left: -10px;" -->
                                                    <mat-card-title class="mat-card-title-background">US Postal Address Check {{lastSaRefresh}}</mat-card-title>
                                                </mat-card-header>
                                                <mat-card-content>
                                                    <div *ngIf="addressCorrectNotFound('sa'); then saAddressCorrectNotFound else saAddressCorrectFound"></div>
                                                    <ng-template #saAddressCorrectNotFound>
                                                        <mat-panel-description>
                                                            ** US Postal Addresss not found for this Site Address. **
                                                        </mat-panel-description>
                                                    </ng-template>
                                                    <ng-template #saAddressCorrectFound>
                                                        <div class="form-row full-width font-weight-bold " style="background-color: white">
                                                            <div class="form-group col-md-4 col-sm-1 mat-card-address-data">  <!-- style="padding: 0px; margin-bottom: -20px;" -->   
                                                                <input matInput formControlName="saAddressCorrectAddress"/>
                                                            </div>
                                                            <div class="form-group col-md-3 col-sm-1 mat-card-address-data">
                                                                <input matInput formControlName="saAddressCorrectCity"/>
                                                            </div>
                                                            <div  class="form-group col-md-1 col-sm-1 mat-card-address-data">
                                                                <input matInput formControlName="saAddressCorrectState"/>
                                                            </div>
                                                            <div class="form-group col-md-2 col-sm-1 mat-card-address-data">
                                                                <input matInput formControlName="saAddressCorrectZipcode"/>
                                                            </div>
                                                            <div  class="form-group col-md-2 col-sm-1 mat-card-address-data">    
                                                                <input matInput formControlName="saAddressCorrectCounty"/>
                                                            </div>
                                                        </div>
                                                    </ng-template>                                          
                                                </mat-card-content>
                                                <!-- <mat-card-actions>
                                                    <div class="form-row full-width">
                                                        <div *ngIf="addressCorrectNotFound('sa'); else saKeepAddressCorrect"></div>
                                                        <ng-template #saKeepAddressCorrect>
                                                            <div class="form-check">
                                                                <label class="form-check-label font-weight-bold">
                                                                    <mat-checkbox formControlName="updateSaWithAddressCorrect"> Update the Site Address with the US Postal Address.</mat-checkbox>
                                                                </label>
                                                            </div>
                                                        </ng-template>
                                                    </div>
                                                </mat-card-actions> -->
                                            </mat-card>
                                        </ng-container>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <button mat-raised-button color="primary" type="button" class="btn btn-default btn-md btn-block" (click)="runSaAddressCorrect()" >Run US Postal Check</button>
                                    </div>
                                </div>                          
                                <!-- /site address check-->
                            </div>
                        </mat-card-content> 
                    </mat-card>  
                    
                    <mat-card>    
                        <mat-card-title > Lit Setup </mat-card-title>  
                        <mat-card-content>
                            <div class="form-row full-width">
                                <div class="form-group required col-md-5" style="margin-bottom:40px"> 
                                    <mat-card style="padding:0px">
                                        <mat-card-content style="margin-bottom:10px">
                                            <div class="form-group row full-width">
                                                <mat-form-field class="col-md-12 font-weight-bold">
                                                    <input matInput formControlName="authUser" placeholder="Must enter your Windows User Name here to link to LIT"/>
                                                    <div *ngIf="authUserRequired; then showAuthUserRequiredErrorMessage"></div>
                                                    <ng-template #showAuthUserRequiredErrorMessage>
                                                        <p>{{getAuthUserErrorMessage()}}</p>
                                                    </ng-template>                                    
                                                </mat-form-field>  
                                            </div>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <div class="col-md-6 col-sm-5">
                                                <button mat-raised-button color="primary" type="button" class="btn btn-success btn-md btn-block" (click)="openLit()">Open Lit in a new window</button>
                                            </div>
                                        </mat-card-actions>
                                    
                                    </mat-card>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>    
                    <mat-card>
                        <!-- <mat-card-title > Site </mat-card-title>   -->
                        <mat-card-content>
                            <div class="form-row full-width">  
                                <div class="form-group required col-md-3">
                                    <mat-form-field>
                                        <mat-label class="control-label" for="releaseType">Release Type</mat-label>
                                        <mat-select formControlName="releaseType" >
                                            <mat-option value=""></mat-option>
                                            <mat-option *ngFor="let siteType of siteTypes" 
                                                    [value]="siteType?.siteTypeCode" >
                                                    {{siteType?.siteType}}
                                            </mat-option>
                                        </mat-select>    
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.releaseType"  [submitClicked]="submitClicked"></app-show-errors>                            
                                </div>
                                <div class="form-group required col-md-3">
                                    <mat-form-field>
                                        <mat-label class="control-label" for="releaseType">Site Type</mat-label>
                                        <mat-select formControlName="siteType2" >
                                            <mat-option value=""></mat-option>
                                            <mat-option *ngFor="let siteType2 of siteType2s" 
                                                    [value]="siteType2?.id" >
                                                    {{siteType2?.descript}}
                                            </mat-option>
                                        </mat-select>    
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.siteType2"  [submitClicked]="submitClicked"></app-show-errors>                            
                                </div>
                                <div class="form-group required col-md-3">
                                    <mat-form-field >  
                                        <mat-label class="control-label" for="fileStatusId">Closure</mat-label> 
                                        <mat-select placeholder="Closure" id="fileStatusId" formControlName="fileStatusId">     
                                            <mat-option selected="selected" value=""> </mat-option> 
                                            <mat-option *ngFor="let fileStatus of fileStatuses" [value]="fileStatus?.fileStatusTypeID" > {{fileStatus?.fileStatusTypeDescription}}</mat-option>  
                                        </mat-select>    
                                    </mat-form-field>  
                                    <app-show-errors [control]="incidentForm.controls.fileStatusId"  [submitClicked]="submitClicked"></app-show-errors>
                                </div> 
                                <div class="form-group required col-md-3">
                                    <mat-form-field >  
                                        <mat-label class="control-label" for="siteCounty">Brownfield</mat-label> 
                                        <mat-select placeholder="Brownfield" id="brownfield" formControlName="brownfield">     
                                            <mat-option selected="selected" value=""> </mat-option> 
                                            <mat-option *ngFor="let brownfield of brownfields" [value]="brownfield?.id" > {{brownfield?.descript}}</mat-option>  
                                        </mat-select>    
                                    </mat-form-field>  
                                    <app-show-errors [control]="incidentForm.controls.brownfield"  [submitClicked]="submitClicked"></app-show-errors>
                                </div> 
                            </div>
                            <div class="form-row full-width required row">
                                <label class="control-label col-lg-12">Select One or More</label>
                            </div>
                            <div class="form-row full-width">
                                <div class="col-md-2">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox  formControlName="activeReleaseInd">Active System Release</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="optionLetterSentInd">Option Letters Sent</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="programTransferInd">Program Transfer</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="hotAuditRejectInd">Hot Audit Reject</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="propertyTranPendingInd">PropTran Pendng</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card> 
                    <mat-card>    
                        <mat-card-title >Management</mat-card-title>  
                        <mat-card-content> 
                            <div class="form-row full-width">
                                <div class="form-group required col-md-3">
                                    <mat-form-field >
                                        <mat-label class="control-label" for="createDate">Created</mat-label>
                                        <input matInput [max]="maxDate" [matDatepicker]="createDate"  formControlName="createDate">
                                            <mat-datepicker-toggle matSuffix [for]="createDate"></mat-datepicker-toggle>
                                            <mat-datepicker #createDate [startAt]="maxDate" ></mat-datepicker>
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.createDate"  [submitClicked]="submitClicked"></app-show-errors>
                                </div> 
                                <div class="form-group required col-md-3">
                                    <mat-form-field >
                                        <mat-label class="control-label" for="dateReceived">Received</mat-label>
                                        <input matInput [max]="maxDate" [matDatepicker]="dateReceived"  formControlName="dateReceived">
                                            <mat-datepicker-toggle matSuffix [for]="dateReceived"></mat-datepicker-toggle>
                                            <mat-datepicker #dateReceived [startAt]="maxDate" ></mat-datepicker>
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.dateReceived"  [submitClicked]="submitClicked"></app-show-errors>
                                </div> 
                                <div class="form-group required col-md-3">
                                    <mat-form-field >
                                        <mat-label class="control-label" for="discoveryDate">Discovered</mat-label>
                                        <input matInput [max]="maxDate" [matDatepicker]="discoveryDate"  formControlName="discoveryDate">
                                            <mat-datepicker-toggle matSuffix [for]="discoveryDate"></mat-datepicker-toggle>
                                            <mat-datepicker #discoveryDate [startAt]="maxDate" ></mat-datepicker>
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.discoveryDate"  [submitClicked]="submitClicked"></app-show-errors>
                                </div>
                                <div class="form-group required col-md-3">
                                    <mat-form-field >
                                        <mat-label class="control-label" for="discoveryDate">Closed</mat-label>
                                        <input matInput [max]="maxDate" [matDatepicker]="closedDate"  formControlName="closedDate">
                                            <mat-datepicker-toggle matSuffix [for]="closedDate"></mat-datepicker-toggle>
                                            <mat-datepicker #closedDate [startAt]="maxDate" ></mat-datepicker>
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.closedDate"  [submitClicked]="submitClicked"></app-show-errors>
                                </div>
                            </div>
                            <div class="form-row full-width">
                                <div class="form-group required col-md-3">
                                    <mat-form-field >
                                        <mat-label class="control-label" for="dateReceived">Cleanup Start</mat-label>
                                        <input matInput [max]="maxDate" [matDatepicker]="cleanupStartDate"  formControlName="cleanupStartDate">
                                            <mat-datepicker-toggle matSuffix [for]="cleanupStartDate"></mat-datepicker-toggle>
                                            <mat-datepicker #cleanupStartDate [startAt]="maxDate" ></mat-datepicker>
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.cleanupStartDate"  [submitClicked]="submitClicked"></app-show-errors>
                                </div> 
                                <div class="form-group required col-md-3">
                                    <mat-form-field >
                                        <mat-label class="control-label" for="releaseStopDate">Release Stop</mat-label>
                                        <input matInput [max]="maxDate" [matDatepicker]="releaseStopDate"  formControlName="releaseStopDate">
                                            <mat-datepicker-toggle matSuffix [for]="releaseStopDate"></mat-datepicker-toggle>
                                            <mat-datepicker #releaseStopDate [startAt]="maxDate" ></mat-datepicker>
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.releaseStopDate"  [submitClicked]="submitClicked"></app-show-errors>
                                </div> 
                                <div class="form-group required col-md-3">
                                    <mat-form-field >
                                        <mat-label class="control-label" for="finalInvcRqstDate">Final Invoice Request</mat-label>
                                        <input matInput [max]="maxDate" [matDatepicker]="finalInvcRqstDate"  formControlName="finalInvcRqstDate">
                                            <mat-datepicker-toggle matSuffix [for]="finalInvcRqstDate"></mat-datepicker-toggle>
                                            <mat-datepicker #finalInvcRqstDate [startAt]="maxDate" ></mat-datepicker>
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.finalInvcRqstDate"  [submitClicked]="submitClicked"></app-show-errors>
                                </div>
                                <div class="form-group required col-md-3">
                                    <mat-form-field >
                                        <mat-label class="control-label" for="discoveryDate">Letter Of Agreement</mat-label>
                                        <input matInput [max]="maxDate" [matDatepicker]="letterOfAgreementDate"  formControlName="letterOfAgreementDate">
                                            <mat-datepicker-toggle matSuffix [for]="letterOfAgreementDate"></mat-datepicker-toggle>
                                            <mat-datepicker #letterOfAgreementDate [startAt]="maxDate" ></mat-datepicker>
                                    </mat-form-field>
                                    <app-show-errors [control]="incidentForm.controls.letterOfAgreementDate"  [submitClicked]="submitClicked"></app-show-errors>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>


                <!-- show errors  -->
                <div *ngIf=" showAllErrorsMessages; then showAllErrorsMessages"></div>
                <ng-template #showAllErrorsMessages> 
                    <mat-card>
                        <mat-card-content>
                            <ngb-alert *ngIf="!isClosed" [type]="warning" (close)="isClosed=true">
                            <div class="form-group row">
                                <app-show-all-messages [messages]="findInvalidControls()"  [submitClicked]="submitClicked"></app-show-all-messages>
                            </div>
                            </ngb-alert>
                        </mat-card-content>
                    </mat-card>
                </ng-template>

                <!-- /show errors  -->




                <mat-card>
                    <mat-card-actions>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <button mat-raised-button color="accent" type="submit" class="btn btn-success btn-md btn-block" >Save</button>
                            </div>
                            <div class="col-md-3 ">
                                <button mat-raised-button color="primary" type="button" class="btn btn-default btn-md btn-block" (click)="hold()" >Clear</button>
                            </div>
                            <div class="col-md-3 ">
                                <button mat-raised-button color="primary" type="button" class="btn btn-default btn-md btn-block" (click)="decline()" >Return to Search</button>
                            </div>
                            <div class="col-md-3">
                                <button mat-raised-button color="primary" type="button" class="btn btn-default btn-md btn-block" (click)="cancel()">Help</button>
                            </div>
                        </div>   
                    </mat-card-actions> 
                </mat-card>
            </mat-card>
        <!-- <pre>incidentForm: {{ incidentForm.value | json }}</pre> -->
        </form>
    </div>
</ng-template>

