<!-- <h1 mat-dialog-title  >{{data.title}}</h1>
<mat-dialog-content>
  <p>{{data.message1}}</p>
</mat-dialog-content>
<mat-dialog-actions >
  <button mat-button [mat-dialog-close]="true"  cdkFocusInitial  (click)="onClick()">{{data.button1}}</button>
</mat-dialog-actions>

 -->


<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content>
    <p>{{data.message1}}</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true"  cdkFocusInitial  (click)="onClick()">{{data.button1}}</button>
</mat-dialog-actions>
