/* You can add global styles to this file, and also import other style files 

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

[_nghost-c5] {
    display: inline-block !important;
    width: 100%;
}

/* .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label:not(.mat-empty):not(.mat-form-field-empty) { */
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label:not(:focus) {
    color: black !important;
    font-weight: bold;
}

.mat-label {
    color: black !important;
    font-weight: bold;
}

.mat-checkbox-disabled .mat-checkbox-label {
    color: black;
}




button {
    border-radius: 10px !important;
  }
  
.text-left {
    text-align: left !important
}

.mat-tab-link-active,
.mat-tab-label-active {
    background-color: #5EADB0;
    color: rgb(223, 22, 102);
    border: 1px solid white;
    font-weight: bold;
}


.mat-tab-label,
 .mat-tab-link {
    line-height: 30px !important;
    height: 42px !important;
    min-width: 100px !important;
    /* border: 1px solid #7e7e7e; */
    border: 1px solid black;
    font-weight: bold;
    background-color:white;
    color: black;
    font-size: 24px;
    /* background-color: rgb(245, 13, 90); */
 
}


@media screen and (max-width: 881px){
    .mat-tab-link {
        font-size: 20px;
    }
}

@media screen and (min-width: 601px){
    .mat-tab-link {
        font-size: 18px;
    }
}


@media screen and (max-width: 600px){
    .mat-tab-link {
        font-size: 12px;
        line-height: 30px !important;
        height: 26px !important;
        min-width: 60px !important;
    }
}

@media screen and (max-width: 414px){
    .mat-tab-link {
        font-size: 8px;
        line-height: 30px !important;
        height: 20px !important;
        min-width: 60px !important;
    }
}


.tabContentContainer {
    border: 1px solid #aaaaaa;
    /* background: #ffffff 50% 50% repeat-x; */
}

.mat-form-field {
    height: 40px;
    background-color:white;
    padding: 0em 0 0 1em;
    width: 100%;
}

/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.3); */
    background-color:white;
    padding: 0em 0 0 1em;
}


.mat-card-content {
    background-color: rgb(247, 245, 245);
    font-size: 16px;
}
.mat-checkbox-content {
    background-color: rgb(247, 245, 245);
}





mat-card-title { 
/* this affects mat-card-title 
  OLPRR Incident Review
*/
    background-color: darkSeaGreen;
}

    
mat-card-header {
    background-color: white;
    margin-top: -10px; 
    margin-bottom: -10px;
    margin-left: -10px;
  }


.mat-card-headertitle-background {
    background-color:#c0f0dd;
    font-size: 24px;
}


.mat-card-subtitle-background {
    background-color:#cbf0cb;
    font-size: 18px;
}


/*
US Postal Address Check
*/
.mat-card-title-background {
    background-color: white;
    font-size:18px !important;

  }


/*   



.mat-card-address-data {
    padding: 0px; 
    margin-bottom: -20px;
} */

.mat-tooltip {
    font-size: 18px !Important;
    background-color: red;
    color: black;
}

