<!-- <!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>LUST Incident Reporting Form</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body> -->



        <!-- table lustReportingTable  -->
        <!-- <table id="lustReportingTable"> -->
<div class="container-fluid">   
    <mat-card>
        <div class="form-row full-width">
            <h1 class="display-5 text-left m-4">LUST Incident Reporting Form</h1>
        </div>
        <mat-card-content>
            <div class="container-fluid">
                <p class="text-left">Notice (6/23/17): The OLPRR reporting tool is offline for maintenance. You have reached an alternative webpage to submit incident report information. Reporters will continue to receive an email confirming receipt and providing the incident log number. During this period DEQ responses may take up to 3 business days to complete. Please email hotinfo@deq.state.or.us with questions or problems, or call 503-229-5263 and ask to speak with the Heating Oil Tank or Leaking Underground Storage Tank Duty Officer. We apologize for any inconvenience or delays you may experience.</p>                    
                <p class="text-left font font-weight-bold pl-1" style="background-color: darkSeaGreen">Incident Information</p>
            
                <!-- Form incidentForm begins -->
                <form [formGroup]="incidentForm" class="form" role="form" autocomplete="off" method="POST"  (ngSubmit)="submitIncident()">
                    <!-- Date Released Discovered -->
                
                    <div class="form-row full-width">
                        <div class="form-group required col-md-4">
                            <mat-form-field >
                                <mat-label class="control-label" for="dateReceived">Date Reported</mat-label>
                                <input matInput formControlName="dateReceived">
                            </mat-form-field>
                        </div> 
                     
    
                        <div class="form-group required col-md-4">
                            <mat-form-field >
                                <mat-label class="control-label" for="discoveryDate">Date Release Discovered</mat-label>
                                    <input matInput [max]="maxDate" [matDatepicker]="discoveryDate"  formControlName="discoveryDate">
                                    <mat-datepicker-toggle matSuffix [for]="discoveryDate"></mat-datepicker-toggle>
                                    <mat-datepicker #discoveryDate [startAt]="maxDate" disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <app-show-errors [control]="incidentForm.controls.discoveryDate"  [submitClicked]="submitClicked"></app-show-errors>
                        </div>
                    </div>
                    <!-- /Date Released Discovered -->
                    <!-- SiteType FacilityId -->
                    <div class="form-row full-width"> 
                        <div class="form-group required col-md-6">
                                <mat-form-field>
                                    <mat-label class="control-label" for="releaseType">Site Type</mat-label>
                                    <mat-select formControlName="releaseType" (click)="setShowContactInvoiceAndFacilityId();" >
                                        <mat-option value=""></mat-option>
                                        <mat-option *ngFor="let siteType of siteTypes" 
                                                [value]="siteType?.siteTypeCode" >
                                                {{siteType?.siteType}}
                                        </mat-option>
                                    </mat-select>    
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.releaseType"  [submitClicked]="submitClicked"></app-show-errors>                            
                            </div>
                        <!-- DEQ UST Facility ID  -->
                        <div *ngIf="showInvoiceContact; then showFacility"></div>
                        <ng-template #showFacility> 
                            <div class="form-group col-md-4">
                                <mat-form-field>
                                    <mat-label class="control-label" for="facilityId">DEQ UST Facility ID</mat-label>
                                    <input matInput formControlName="facilityId"/>
                                </mat-form-field>
                            </div>
                        </ng-template>
                        <!-- /DEQ UST Facility ID -->
                    </div>
                    <!-- /SiteType FacilityId -->
                    <!-- Site Name, County -->
                    <div class="form-row full-width">
                        <div class="form-group required col-md-6">
                            <mat-form-field>
                                <mat-label class="control-label" for="siteName">Site Name</mat-label>
                                <input matInput formControlName="siteName"/>
                            </mat-form-field>
                            <app-show-errors [control]="incidentForm.controls.siteName"  [submitClicked]="submitClicked"></app-show-errors>
                        </div>

                        <div class="form-group required col-md-4">
                            <mat-form-field>
                            <mat-label class="control-label" for="siteCounty">Site County</mat-label>
                                <mat-select formControlName="siteCounty" >
                                    <mat-option selected="selected" value=""></mat-option>
                                    <mat-option *ngFor="let county of counties" 
                                    [value]="county?.countyCode" >
                                    {{county?.countyName}}
                                    </mat-option>
                                </mat-select>                                    
                            </mat-form-field>
                            <app-show-errors [control]="incidentForm.controls.siteCounty"  [submitClicked]="submitClicked"></app-show-errors>
                        </div>                        
                    </div>
                    <!-- /Site Name, County -->
                    <!-- Street number, quadrant, street name, street type -->
                    <div class="form-row full-width">
                        <div class="form-group required col-md-3">
                            <mat-form-field>
                                <mat-label class="control-label" for="streetNbr">Site Street Number</mat-label>
                                <input matInput formControlName="streetNbr">
                            </mat-form-field>
                            <app-show-errors [control]="incidentForm.controls.streetNbr"  [submitClicked]="submitClicked"></app-show-errors>
                        </div>
                        <div class="form-group required col-md-3">
                            <mat-form-field>
                                <mat-label class="control-label" for="streetQuad">Quadrant</mat-label>
                                <mat-select formControlName="streetQuad">
                                        <mat-option selected="selected" value=""></mat-option>
                                        <mat-option *ngFor="let quadrant of quadrants" 
                                        [value]="quadrant?.quadrant" >
                                        {{quadrant?.quadrant}}
                                        </mat-option>
                                </mat-select>                                    
                            </mat-form-field>
                            <app-show-errors [control]="incidentForm.controls.streetQuad"  [submitClicked]="submitClicked"></app-show-errors>
                        </div> 
                        <div class="form-group required col-md-3">
                            <mat-form-field >
                                <mat-label class="control-label" for="streetName">Site Street Name </mat-label>
                                <input matInput formControlName="streetName">
                            </mat-form-field>
                            <app-show-errors [control]="incidentForm.controls.streetName"  [submitClicked]="submitClicked"></app-show-errors>
                        </div>
                    
                        <div class="form-group required col-md-3">
                            <mat-form-field >
                                <mat-label class="control-label" for="streetType">Site Street Type</mat-label>
                                    <mat-select formControlName="streetType">
                                            <mat-option selected="selected" value=""></mat-option>
                                            <mat-option *ngFor="let streetType of streetTypes" 
                                            [value]="streetType?.streetType" >
                                            {{streetType?.streetType}}
                                            </mat-option>
                                    </mat-select>                                        
                            </mat-form-field>
                            <app-show-errors [control]="incidentForm.controls.streetType" [submitClicked]="submitClicked"></app-show-errors>
                        </div>                        
                    </div>
                    <!-- /Street number, quadrant, street name, street type  -->
                    <!-- city, zip, phone -->
                    <div class="form-row full-width">
                        <div class="form-group required col-md-4">
                            <mat-form-field >
                                <mat-label class="control-label" for="siteCity">Site City</mat-label>
                                <input matInput formControlName="siteCity">
                            </mat-form-field>
                            <app-show-errors [control]="incidentForm.controls.siteCity"></app-show-errors>
                        </div>
                        <div class="form-group required col-md-4">
                            <mat-form-field >
                                <mat-label class="control-label" for="siteZipcode">Site Zip Code</mat-label>
                                <input matInput formControlName="siteZipcode">
                            </mat-form-field>
                            <app-show-errors [control]="incidentForm.controls.siteZipcode"></app-show-errors>
                        </div>
                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-label for="sitePhone">Site Phone </mat-label>
                                <input matInput formControlName="sitePhone">
                            </mat-form-field>
                            <app-show-errors [control]="incidentForm.controls.sitePhone"></app-show-errors>
                        </div>
                    </div>
                        <!-- /city, zip, phone  -->

                        <!-- Reported By, Phone, Company -->
                        <div class="form-row full-width">
                            <div class="form-group required col-md-4">
                                <mat-form-field >
                                    <mat-label class="control-label" for="reportedBy">Reported By</mat-label>
                                    <input matInput formControlName="reportedBy" />
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.reportedBy"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                            <div class="form-group required col-md-4">
                                <mat-form-field >
                                    <mat-label class="control-label" for="reportedByPhone">Reported By Phone</mat-label>
                                    <input matInput formControlName="reportedByPhone" />
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.reportedByPhone"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                            <div class="form-group required col-md-4">
                                <mat-form-field >
                                    <mat-label class="control-label" for="company">Company</mat-label>
                                    <input matInput formControlName="company" />
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.company"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                        </div>
                        <!-- /Reported By, Phone, Company  -->
                        <!-- Reported By Email -->
                        <div class="form-row full-width"> 
                            <div class="form-group required col-md-4">
                                <mat-form-field >
                                    <mat-label class="control-label" for="reportedByEmail">Reported By Email</mat-label>
                                    <input matInput formControlName="reportedByEmail"/>
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.reportedByEmail" [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                            <div class="form-group required col-md-8">
                                *This information is required to receive a submission confirmation email.
                            </div>
                        </div>
                        <!-- /Reported By Email -->



                        <!-- Responsible Party -->
                        <p class="text-left font-weight-bold pl-1" style="background-color: darkSeaGreen">Responsible Party</p>
                    
                        
                        <div class="form-row full-width">
                            <div class="form-group required col-md-6">
                                <mat-form-field>
                                    <mat-label class="control-label" for="rpFirstName">Responsible Party First Name</mat-label>
                                    <input matInput formControlName="rpFirstName" />
                                    <app-show-errors [control]="incidentForm.controls.rpFirstName" [submitClicked]="submitClicked"></app-show-errors>
                                </mat-form-field>
                            </div>
                            <div class="form-group required col-md-6">
                                <mat-form-field>
                                    <mat-label class="control-label" for="rpLastName">Responsible Party Last Name</mat-label>
                                    <input matInput formControlName="rpLastName" />
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.rpLastName" [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                        </div>
                        <div class="form-row full-width">
                            <div class="form-group required col-md-12">
                                <mat-form-field>
                                    <mat-label class="control-label" for="rpOrganization">Organization</mat-label>
                                    <input matInput formControlName="rpOrganization" />
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.rpOrganization" [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                        </div>
                        <div class="form-row full-width">
                            <div class="form-group required col-md-6">
                                <mat-form-field>
                                    <mat-label class="control-label" for="rpAddress">Address</mat-label>
                                    <input matInput formControlName="rpAddress"  />
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.rpAddress"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                            <div class="form-group required col-md-6">
                                <mat-form-field>
                                    <mat-label class="control-label" for="rpPhone">Phone</mat-label>
                                    <input matInput formControlName="rpPhone" />
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.rpPhone"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                        </div>
                        <div class="form-row full-width">
                            <div class="form-group required col-md-6">
                                <mat-form-field>
                                    <mat-label class="control-label" for="rpCity">City</mat-label>
                                    <input matInput formControlName="rpCity"  />
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.rpCity" [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-label for="rpEmail">Email</mat-label>
                                    <input matInput formControlName="rpEmail"  />
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.Email" [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                        </div>
                        <div class="form-row full-width">
                            <div class="form-group required col-md-6">
                                <mat-form-field>
                                    <mat-label class="control-label" for="rpState">State</mat-label>
                                    <mat-select formControlName="rpState" >
                                            <mat-option selected="selected" value=""></mat-option>
                                            <mat-option selected="selected" value=""></mat-option>
                                            <mat-option *ngFor="let state of states" 
                                            [value]="state?.stateCode" >
                                            {{state?.stateName}}
                                            </mat-option>                                               
                                    </mat-select>
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.rpState"  [submitClicked]="submitClicked"></app-show-errors>
                            </div> 
                            <div class="form-group required col-md-6">
                                <mat-form-field>
                                    <mat-label class="control-label" for="rpZipcode">Zip Code</mat-label>
                                    <input matInput formControlName="rpZipcode"/>
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.rpZipcode"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                        </div>
                        <!-- /Responsible Party  -->

                        <!-- Invoice Contact -->
                        <div *ngIf="showInvoiceContact; then showContactInvoice"></div>
                        <ng-template #showContactInvoice> 
                        <p class=" text-left font-weight-bold pl-1" style="background-color: darkSeaGreen"  >Invoice Contact</p>
                    
                        <div class="form-group full-width">
                            <div class="col-sm-4">
                                <button type="button" class=" btn btn-md btn-block" (click)="copyResponsibleToInvoice(incidentForm)">Copy Responsible Party information</button>
                            </div>
                        </div>
                
                
                        <div class="form-row full-width">
                            <div class="form-group required col-md-6">
                                <mat-form-field>
                                    <mat-label class="control-label" for="icFirstName">First Name</mat-label>
                                    <input matInput formControlName="icFirstName" />
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.icFirstName"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                            <div class="form-group required col-md-6">
                                <mat-form-field>
                                    <mat-label class="control-label" for="icLastName">Last Name</mat-label>
                                    <input matInput formControlName="icLastName" />
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.icLastName"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                        </div>
                        <div class="form-row full-width">
                            <div class="form-group required col-md-12">
                                <mat-form-field>
                                    <mat-label class="control-label" for="icOrganization">Organization</mat-label>
                                    <input matInput formControlName="icOrganization" />
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.icOrganization"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                        </div>
                        <div class="form-row full-width">
                            <div class="form-group required col-md-6">
                                <mat-form-field>
                                    <mat-label class="control-label" for="icAddress">Address</mat-label>
                                    <input matInput formControlName="icAddress"  />
                                </mat-form-field>   
                                <app-show-errors [control]="incidentForm.controls.rpAddress"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                            <div class="form-group required col-md-6">
                                <mat-form-field>
                                    <mat-label class="control-label" for="rpPhone">Phone</mat-label>
                                    <input matInput formControlName="rpPhone" />
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.icAddress"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                        </div>
                        <div class="form-row full-width">
                            <div class="form-group required col-md-6">
                                <mat-form-field>
                                    <mat-label class="control-label" for="icCity">City</mat-label>
                                    <input matInput formControlName="icCity"  />
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.icCity"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                            <div class="form-group col-md-6">
                                <mat-form-field>
                                    <mat-label for="icEmail">Email</mat-label>
                                    <input matInput formControlName="icEmail"  />
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.icEmail" [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                        </div>
                        <div class="form-row full-width">
                            <div class="form-group required col-md-6">
                                <mat-form-field>
                                    <mat-label class="control-label" for="icState">State</mat-label>
                                
                                    <mat-select formControlName="icState" >
                                            <mat-option selected="selected" value=""></mat-option>
                                            <mat-option *ngFor="let state of states" 
                                            [value]="state?.stateCode" >
                                            {{state?.stateName}}
                                            </mat-option>                                               
                                    </mat-select>
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.icState"  [submitClicked]="submitClicked"></app-show-errors>
                            </div> 
                            <div class="form-group required col-md-6">
                                <mat-form-field>
                                    <mat-label class="control-label" for="icZipcode">Zip Code</mat-label>
                                    <input matInput formControlName="icZipcode"/>
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.icZipcode"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>
                        </div>
                        </ng-template>
                        <!-- /Invoice Contact  -->


                        <p class="text-left font-weight-bold pl-1" style="background-color: darkSeaGreen">Site Assessment</p>
                        <!-- site assessment -->
                        <div class="form-row full-width">
                            <div class="form-group required col-md-3">
                                <mat-form-field>
                                <mat-label class="control-label" for="confirmationCode">Confirmation</mat-label>
                                    <mat-select formControlName="confirmationCode">
                                            <mat-option selected="selected" value=""></mat-option>
                                            <mat-option *ngFor="let confirmationType of confirmationTypes" 
                                            [value]="confirmationType.confirmationCode" >
                                            {{confirmationType.confirmationDescription}}
                                            </mat-option>     
                                        </mat-select>  
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.confirmationCode"  [submitClicked]="submitClicked"></app-show-errors>
                            </div> 
                            <div class="form-group required col-md-3">
                                <mat-form-field>
                                    <mat-label class="control-label" for="discoveryCode">Discovery</mat-label>
                                    <mat-select formControlName="discoveryCode" >
                                            <mat-option selected="selected" value=""></mat-option>
                                            <mat-option *ngFor="let discoveryType of discoveryTypes" 
                                            [value]="discoveryType?.discoveryCode" >
                                            {{discoveryType?.discoveryDescription}}
                                            </mat-option>     
                                        </mat-select>  
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.discoveryCode"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>   
                            <div class="form-group required col-md-3">
                                <mat-form-field>
                                    <mat-label class="control-label" for="releaseCauseCode">Cause</mat-label>
                                    <mat-select formControlName="causeCode">
                                            <mat-option selected="selected" value=""></mat-option>
                                            <mat-option *ngFor="let releaseCauseType of releaseCauseTypes" 
                                            [value]="releaseCauseType?.releaseCauseCode" >
                                            {{releaseCauseType?.releaseCauseDescription}}
                                            </mat-option>     
                                        </mat-select>  
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.causeCode"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>    
                            <div class="form-group required col-md-3">
                                <mat-form-field>
                                    <mat-label class="control-label" for="sourceId">Source</mat-label>
                                    <mat-select formControlName="sourceId">
                                            <mat-option selected="selected" value=""></mat-option>
                                            <mat-option *ngFor="let sourceType of sourceTypes" 
                                            [value]="sourceType?.releaseSourceId" >
                                            {{sourceType?.releaseSourceDescription}}
                                            </mat-option>     
                                        </mat-select>  
                                </mat-form-field>
                                <app-show-errors [control]="incidentForm.controls.sourceId"  [submitClicked]="submitClicked"></app-show-errors>
                            </div>                      
                        </div>
                        <!-- /site assessment  -->



                        <p class="text-left font-weight-bold pl-1" style="background-color: darkSeaGreen">Contaminants</p>
                        <div class="form-group required row">
                                <label class="control-label col-lg-12">(select one or more)</label>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="heatingOil"> Heating Oil </mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="unleadedGas">Unleaded Gasoline</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="leadedGas">Leaded Gasoline</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="misGas">Misc. Gasoline</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <mat-checkbox formControlName="diesel">Diesel (Motor Fuel)</mat-checkbox> 
                                            </label>
                                        </div>
                                    </div>
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="wasteOil">Waste Oil</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="lubricant">Lubricant</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="solvent">Solvent</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="otherPet">Other Pet. Dist.</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="chemical">Chemical</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="mtbe">MTBE</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="unknown">Unknown Contaminant</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                            </div>
                        <!--  end of contaminants -->

                        <!-- show Contaminant errors  -->
                        <!-- <div *ngIf="showContaminantErrorMessage; then showContaminantErrorMessage"></div>
                        <ng-template #showContaminantErrorMessage> 
                            <ngb-alert *ngIf="!isContaminantClosed" [type]="warning" class="fade show hide-the" (close)="isContaminantClosed=true">
                                <div class="form-group row">
                                    <app-show-all-messages [messages]="contaminantErrorMessages" [submitClicked]="submitClicked"></app-show-all-messages>
                                </div>
                            </ngb-alert>
                        </ng-template> -->
                        <!-- /show Contaminant errors  -->   



                        <p class="text-left font-weight-bold pl-1" style="background-color: darkSeaGreen">Impacted Media</p>
                        <div class="form-group required row">
                            <label class="control-label col-lg-12">(select one or more)</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <mat-checkbox  formControlName="groundWater">Groundwater</mat-checkbox> 
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <mat-checkbox formControlName="surfaceWater">Surface Water</mat-checkbox> 
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <mat-checkbox formControlName="drinkingWater">Drinking Water</mat-checkbox> 
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <mat-checkbox formControlName="soil">Soil</mat-checkbox> 
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <mat-checkbox formControlName="vapor">Vapor</mat-checkbox> 
                                        </label>
                                    </div>
                                </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <mat-checkbox formControlName="freeProduct">Free Product</mat-checkbox> 
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- show Contaminant errors  -->
                        <!-- <div *ngIf="showMediaErrorMessage; then showMediaErrorMessage"></div>
                        <ng-template #showMediaErrorMessage> 
                            <ngb-alert *ngIf="!isMediaClosed" [type]="warning" class="fade show hide-the" (close)="isMediaClosed=true">
                                <div class="form-group row">
                                    <app-show-all-messages [messages]="mediaErrorMessages" [submitClicked]="submitClicked"></app-show-all-messages>
                                </div>
                            </ngb-alert>
                        </ng-template> -->
                        <!-- /show Contaminant errors  -->


                        <p class="text-left font-weight-bold pl-1" style="background-color: darkSeaGreen">Site Comments</p>
                        <!-- Site Comments -->
                        <div class="form-row mt-4">
                            <div class="form-group col-sm-12 pb-3">
                                <label for="siteComments">Please enter a comment for the LUST incident (limit 717 characters)</label>
                                <textarea type="textarea" class="form-control" id="siteComments"  maxlength="717" rows=6  formControlName="initialComment"></textarea>
                            </div>    
                        </div>
                        <!-- /Site Comments  -->


                    <!-- show errors  -->
                    <div *ngIf=" showAllErrorsMessages; then showAllErrorsMessages"></div>
                    <ng-template #showAllErrorsMessages> 
                        <ngb-alert *ngIf="!isClosed" [type]="warning" (close)="isClosed=true">
                            <div class="form-group row">
                                <app-show-all-messages [messages]="findInvalidControls()"  [submitClicked]="submitClicked"></app-show-all-messages>
                            </div>
                        </ngb-alert>
                    </ng-template>
                    <!-- /show errors  -->


                    <div class="form-group row">

                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-success btn-md btn-block" >Submit</button>
                            <!-- <button type="submit" class="btn btn-success btn-md btn-block" [disabled]="!incidentForm.valid">Submit</button> -->
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-default btn-md btn-block" (click)="resetForm()">Reset</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-default btn-md btn-block" (click)="populateTestData()">Populate Test Data</button>
                        </div>
                    </div>
                    <!-- <pre>incidentForm: {{ incidentForm.value | json }}</pre> -->
                </form>
                <!-- Form incidentForm ends --> 
            </div>
        </mat-card-content>
    </mat-card>
</div>






<!-- 
    </body>


</html> -->